/* 
 *	Table of Contents:
 * 
 * 		1. Reset Styles
 * 		2. Helper Classes
 * 		3. Baseline (Default) Styles
 * 		4. Header
 * 		5. Footer
 * 		6. Content (Body Copy)
 * 		7. Sidebar
 * 		8. Custom Containers
 * 		9. Widgets
 * 
 * 
 * 	Used colors:
 * 		green: 			#007042
 * 		light green: 	#1ca36b
 * 		lighter green: 	#e6f6e6
 * 		gray shades: 	#777
 * 						#aaa
 * 						#e2e2e2
 */

/*
 * 1. Reset Styles
 */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul, li {
	list-style: none;
	list-style-type: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6, th, td {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
link, a {
	text-decoration: none;
}
/* HTML 5 elements as block-level for consistent styling */
article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


/*
 * 2. Helper Classes
 */

/* round corners */
.round-14 {
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}
.round-17 {
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
/* shading */
.text-shadow-1 {
	text-shadow: 1px 1px 2px #fff;
}
/* visibility */
.hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
/* inline */
.nowrap {
	white-space: nowrap;
}
.right-text {
	text-align: right;
}
.center-text {
	text-align: center;
}
/* floats & clearing */
.left {
	float: left;
}
.right {
	float: right;
}
/* 960gs augmentation */
.clear {
	height: 1.5em;
}
/* layout */
.pad-b {
	padding-bottom: 1.5em;
}
.frame {
	padding: 4px;
	border: 1px solid #aaa;
}


/*
 * 3. Baseline (Default) Styles
 */

body,
h1, h2, h3, h4, h5, h6,
input {
	font-family: Futura,'Century Gothic',AppleGothic,sans-serif;
}

body {
	font-size: 20px;
	line-height: 1.7em;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-weight: normal;
}
h1 {
	font-size: 1.6em;
	letter-spacing: -1px;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.2em;
}

p, ul, ol, dl {
	padding-bottom: .5em;
}

a:link, a:visited, a:hover, a:active, a:focus {
	color: #007042;
}
a:hover, a:active, a:focus {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}


/*
 * 4. Header
 */

#header {
	padding: 38px 0 0;
}
#title {
	padding-top: 12px;
	font-size: 70px;
	color: #1ca36b;
}
#title:hover {
	color: transparent;
	text-shadow: 0 0 11px #1ca36b;
}
#tagline {
	padding-top: 6px;
	font-size: 21px;
	color: #777;
}



/*
 * 5. Footer
 */

#footer {
	font-size: .7em;
	color: #777;
}


/*
 * 6. Content (Body Copy)
 */


/*
 * 9. Custom Containers
 */

#wrapper {
	position: relative;
}

/* header gradient underlay */
body:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 280px;
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #e2e2e2 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #e2e2e2 0%,#ffffff 100%);
}

a#logo {
	border-bottom: 0 none;
}
#map-container {
	width: 612px;
	height: 306px;
}
#map-canvas {
	width: 100%;
	height: 100%;
}
#map-canvas a,
#map-canvas div {
	line-height: 1.5em;
	font-family: Futura,'Century Gothic',AppleGothic,sans-serif !important;
}


/*
 * 10. Widgets
 */

/* autocomplete form */
.addr-form {
	position: relative;
	width: 100%;
	height: 30px;
}
.addr-input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	
	width: 884px;
	height: 30px;
	outline: 0 none;
	border: 1px solid #aaa;
	padding: 3px 41px 3px 13px;
	
	font-size: 21px;
	line-height: 1.523em;
}
.addr-input:focus {
	border-color: #007042;
}
.addr-submit {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 30px;
	height: 30px;
	background: transparent url('../images/search.png') 0 0 no-repeat;
	border: 0 none;
	cursor: pointer;
}
.addr-submit:hover {
	background-position: 0 -30px;
}

/* google maps autocomplete dropdown */
.pac-container,
.pac-item {
	-webkit-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
.pac-container {
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	box-shadow: 2px 4px 16px #aaa;
}
.pac-item {
	padding: 0 .6em;
}
.pac-selected {
	background-color: #e6f6e6;
}
/* hide the google bottom logo, just for the kicks */
.pac-container:after {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
