/* 
 *	Table of Contents:
 * 
 * 		1. Reset Styles
 * 		2. Helper Classes
 * 		3. Baseline (Default) Styles
 * 		4. Header
 * 		5. Footer
 * 		6. Content (Body Copy)
 * 		7. Sidebar
 * 		8. Custom Containers
 * 		9. Widgets
 * 
 * 
 * 	Used colors:
 * 		green: 			#007042
 * 		light green: 	#1ca36b
 * 		gray shades: 	#777
 * 						#aaa
 * 						#e2e2e2
 */

/*
 * 1. Reset Styles
 */

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul, li {
	list-style: none;
	list-style-type: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6, th, td {
	font-size: 100%;
	font-weight: normal;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
}
link, a {
	text-decoration: none;
}
/* HTML 5 elements as block-level for consistent styling */
article, aside, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}


/*
 * 2. Helper Classes
 */

/* round corners */
.round-17 {
	-webkit-border-radius: 17px;
	-khtml-border-radius: 17px;
	-moz-border-radius: 17px;
	border-radius: 17px;
}
/* opacity */
/*.op-90 {
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
}*/
/* shading */
.text-shadow-1 {
	text-shadow: 1px 1px 0 #fff;
}
/* visibility */
.hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
/* inline */
.nowrap {
	white-space: nowrap;
}
.right-text {
	text-align: right;
}
.center-text {
	text-align: center;
}
/* floats & clearing */
.left {
	float: left;
}
.right {
	float: right;
}
/* 960gs augmentation */
.clear {
	height: 1.5em;
}
.pad-b {
	padding-bottom: 1.5em;
}


/*
 * 3. Baseline (Default) Styles
 */

body {
	font: 18px/1.7em Verdana, Geneva, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Helvetica, Times, serif;
	line-height: 1.2;
	font-weight: bold;
}
h1 {
	font-size: 1.6em;
}
h2 {
	font-size: 1.4em;
}
h3 {
	font-size: 1.2em;
}

p, ul, ol, dl {
	padding-bottom: .5em;
}

a:link, a:visited, a:hover, a:active, a:focus {
	color: #007042;
}
a:hover, a:active, a:focus {
	border-bottom-style: solid;
	border-bottom-width: 1px;
}


/*
 * 4. Header
 */

#header {
	padding: 38px 0 0;
}
#title {
	padding-top: 12px;
	font-size: 72px;
	color: #1ca36b;
}
#tagline {
	padding-top: 6px;
	font-size: 18px;
	color: #777;
}



/*
 * 5. Footer
 */

#footer {
	font-size: .7em;
	color: #777;
}


/*
 * 6. Content (Body Copy)
 */


/*
 * 9. Custom Containers
 */

#wrapper {
	position: relative;
}

/* header gradient underlay */
body:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 280px;
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #e2e2e2 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #e2e2e2 0%,#ffffff 100%);
}

a#logo {
	border-bottom: 0 none;
}
#map-canvas {
	width: 620px;
	height: 310px;
}


/*
 * 10. Widgets
 */

/* autocomplete form */
.addr-form {
	position: relative;
	width: 100%;
	height: 30px;
}
.addr-input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 884px;
	height: 30px;
	padding: 3px 40px 3px 14px;
	font-size: 20px;
	line-height: 1.5em;
	border: 1px solid #aaa;
	outline: 0 none;
}
.addr-input:focus {
	border-color: #007042;
}
.addr-submit {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 30px;
	height: 30px;
	background: transparent url('../images/search.png') 0 0 no-repeat;
	border: 0 none;
	cursor: pointer;
}
.addr-submit:hover {
	background-position: 0 -30px;
}

